<template>
  <div id="app">  
    <Header />
    <AddToDo v-on:add-todo="addTodo"/>
    <Todos v-bind:todos='todos' v-on:del-todo="deleteTodo" />
  </div>
</template>

<script>
import Todos from './components/Todos';
import Header from './components/layout/header';
import AddToDo from './components/AddToDo';
import axios from 'axios'
export default {
  name: 'App',
  components: {
    Todos,
    Header,
    AddToDo
  },
  data(){
    return{
      todos:[ ]
    }
  },
  methods:{
    deleteTodo(id){
      axios.delete(`https://jsonplaceholder.typicode.com/todos/${id}`)
      .then( this.todos = this.todos.filter(todo=>todo.id !==id))
      .catch(err=>console.log(err))
     
    },
    addTodo(newtodo){
      const {title,completed}=newtodo;
      axios.post('https://jsonplaceholder.typicode.com/todos',{
        title,
        completed
      }).then(res=>this.todos = [...this.todos,res.data])
      .catch(err=>console.log(err));
      
    },
  
  },
  created(){
 console.log("eded")
      axios.get('https://jsonplaceholder.typicode.com/todos?_limit=10').then((res)=>{
        console.log(res)
      this.todos=res.data})
      .catch(err=>console.log(err));
    }
}
</script>

<style>
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
.btn{
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}
.btn:hover{
  background: #666;
}
</style>
